{% block js %}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
{% endblock %}

{% if errors %}
	<h3>The following issues were detected on your query</h3>
	<ul>
	{% for err in errors %}
		{% with species=err.0 img=err.1 %}
			{% if img == no_data %}
				<li>
					<p style='color:red'>There was no data for species {{species}} in the data source {{data_source}}. Check your spelling.</p>
				</li>
			{% elif img == no_img %}
				<li>
					<p style='color:red'>The species {{species}} was found in the data source {{data_source}}, but there was no image for it</p>
				</li>
            {% elif img == connection_error %}
                <li>
					<p style='color:red'>There was an error with the datasource connection. Please try again later</p>
				</li>
            {% elif img == json_error %}
                <li>
					<p style='color:red'>There was an error with the datasource response's format. Please contact a system administrator</p>
				</li>
            {% elif img == error %}
				<li>
					<p style='color:red'>An unidentified error happened when looking for species {{species}} in data source {{data_source}}. Contact a system administrator</p>
				</li>
			{% endif %}
		{% endwith %}
	{% endfor %}
	</ul>
{% endif %}

<p>Please provide your tree</p>
<textarea type='text' id='input' cols='50' rows='5'></textarea>
<p>Taxa names should not contain spaces, use "_" if necessary.</p>
<br />
{% if sources %}
<p>Select the images source</p>
<select id='source'>
	{% for source in sources %}
	<option value='{{ source }}'>{{source}}</option>
	{% endfor %}
</select>
{% endif %}

<form id='myForm'>
	<input type="radio" name="behaviour" value='{{system_chooses}}' checked>Choose default image for each species<br>
	<input type="radio" name="behaviour" value='{{user_chooses}}'>Let me choose the image for each species
</form> 

<button id='submit'>Submit</button>

<script>
$(document).ready(function(){

	{% if user_tree %}
		$('#input').text('{{user_tree}}')
	{% endif %}

	$("#submit").click(function(){
		var treeInput = $('#source').val();
		
		if($("#input").val() == ''){
			alert('You have not provided input data. Please do so.');
		}
		else{
			if($('input[name=behaviour]:checked', '#myForm').val() == '{{system_chooses}}'){
				window.location = '/result/?{{ input }}=' + $("#input").val() + 
									'&{{data}}=' + $('#source').val();
			}
			else{
				window.location = '/multiple_results/?{{ input }}=' + $("#input").val() + 
									'&{{data}}=' + $('#source').val();
			}
		}
	});
});
</script>
